#
# ARM CMSIS-DAP compliant adapter
#
# http://www.keil.com/support/man/docs/dapdebug/
#

adapter driver cmsis-dap

transport select swd
set FLASH_SIZE 0x10000
source [find target/stm32g4x.cfg]
cmsis_dap_backend hid
# download speed = 10MHz
adapter speed 10000

# Optionally specify the serial number of CMSIS-DAP usb device.
#cmsis_dap_serial 02200201E6661E601B98E3B9
